configuration{
    modi: "drun,run,ssh";
    font: "Hasklug Nerd Font 11";
    cycle: true;
    display-drun: "";
    display-run: " ﬓ Run";
    display-combi: "   Combi ";
    display-ssh: "   SSH";
    show-icons: false;
    terminal: "kitty";
    ssh-command: "{terminal} -e {ssh-client} {host} [-p {port}]";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: true;
}

@theme "onedark"
