**/cdg_path
**/borg-backup.sh
**/.netrwhist
**/fasd
**/config_backup
**/flycheck*
**/.zcompdump*
**/.zshrc.tmp.*
**/.zlogin.tmp.*
**/.zhistory
**/TAGS
**/tags
**/*.elc
alacritty-theme
elfeed.org
**/*.spl
**/*.add
**/*.sug
**/lsp.lua
**/diff-so-fancy
