window {
  margin: 5px;
  border-radius: 3px;
  background-color: #24292e;
  opacity: 0.8;
}

#input {
  border-radius: 0px;
  background-color: #24292e;
}

#inner-box {
  margin: 5px;
  color: @base06;
  background-color: #24292e;
}

#outer-box {
  margin: 5px;
  background-color: #24292e;
}

#scroll {
  margin: 5px;
  background-color: #24292e;
}

#text {
  margin: 2px;
}

