snippet shebang
    #!/usr/bin/env bash

snippet #!
    #!/usr/bin/env bash

snippet safe
    set -eu

snippet if
	if [[ ${1:condition} ]]; then
		${0:${VISUAL}}
	fi
snippet elif
	elif [[ ${1:condition} ]]; then
		${0:${VISUAL}}
snippet for
	for (( ${2:i} = 0; $2 < ${1:count}; $2++ )); do
		${0:${VISUAL}}
	done
snippet fori
	for ${1:needle} in ${2:haystack} ; do
		${0:${VISUAL}}
	done
snippet while
	while [[ ${1:condition} ]]; do
		${0:${VISUAL}}
	done
