@import url("colors/onedark.css");

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
  margin: 1px 4.2px;
  padding: 0;
  background: @bg;
}

tooltip {
  background-color: @bg;
  border: 2px solid @borders-dark;
}

window#waybar {
  background: transparent;
  color: white;
}

#window {
  font-weight: bold;
}

#workspaces button {
  padding-left: 0px;
  padding-right: 0px;
  margin: 2px;
  color: @ws-unfocused-color;
  background: transparent;
}

#workspaces button.focused {
  color: @fg;
}

#workspaces button.urgent {
  border-color: @urgent;
  color: @urgent;
}

#clock,
#mode,
#network,
#battery,
#backlight,
#language,
#pulseaudio,
#custom-grimshot,
#custom-power,
#custom-launcher {
  padding-left: 2px;
  padding-right: 2px;
  margin: 2px;
}

#network,
#backlight,
#clock,
#pulseaudio,
#battery,
#language {
  color: @fg;
}

#mode {
  background: @yellow;
  color: @bg;
}

#network.disconnected {
  color: @red;
}

#pulseaudio.muted {
  color: @orange;
}

#window {
  padding: 2px;
  color: #ddc7a1;
}

#custom-media {
  padding: 2px;
  color: @fg;
}

#idle_inhibitor.activated {
  color: @green;
}

#idle_inhibitor.deactivated {
  color: @fg;
}

#battery.charging {
  color: @green;
}

#battery:not(.charging) {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @orange;
}

#battery.critical:not(.charging) {
  background: @red;
  color: @bg;
}

#custom-power {
  color: @fg;
  padding-left: 6px;
}

#tray {
  padding-right: 6px;
  margin: 0;
}
