tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #35709d;
}

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    margin: 0;
    padding: 0;
    background: #1a1b26;
    color: #c0caf5;
}

#waybar {
    background: transparent;
    color: white;
}

#clock,
#mode,
#network,
#battery,
#backlight,
#language,
#custom-grimshot,
#pulseaudio,
#tray,
#custom-power,
#custom-media {
  padding-left: 2px;
  padding-right: 2px;
  margin:4px;
  font-weight: bold;
}

#custom-media {
    color: #A6E3A1;
}

#clock {
}

#mode {
    background: #F5C2E7;
    color: black;
    border: 1px solid #2f343a;
}

#custom-vpn {
    color: #00ff00;
}

#custom-vpn.down {
    color: #999999;
}

#network {
}

#network.disconnected {
    color: #D18616;
}

#pulseaudio {
}

#pulseaudio.muted {
    color: orange;
}

#tray {
}

#window {
    font-weight: bold;
}

#workspaces button {
    padding-left: 6px;
    padding-right:6px;
    margin: 4px;
    color: #999999;
}

#workspaces button.focused {
   border-bottom: 2px solid #56d4dd;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#battery {
    color: white;
}

#battery.charging {
    color: orange;
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: white;
}

#custom-power {
  color: #F38BA8;
}
